@import "/css/normalize.css";

:root {
  --clr-1: #2b2d42;
  --clr-2: #e86a92;
  --clr-3: #f7e733;
  --clr-4: #f7f7f9;
  --clr-5: #41e2ba;
  --clr-6: #c1666b;

  --dark80: rgba(188, 192, 194, 0.8);
  --dark60: rgba(188, 192, 194, 0.6);
  --transition: all 0.3s ease 0s;

  --ff: "Inter", sans-serif;
  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 2.2rem;
  --fs-h2: 2rem;
  --fs-h3: 1.6rem;
  --fs-h4: 1.4rem;
  --fs-h5: 1.2rem;
  --fs-body: 1rem;

  --cell-seize: 100px;
  --mark-seize: calc(var(--cell-seize) * 0.9) /* 90 % of cell seize*/;
}

/* Reset class*/
* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(var(--dark60), var(--dark80)),
    url("https://source.unsplash.com/daily");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--ff);
}

/* TYPOGRAPHY */

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

/* Header

/* Footer

/* Your template */

@media screen and (min-with: 1400px) {
}

@media screen and (min-with: 960px) {
}

@media screen and (min-with: 700px) {
}

@media screen and (min-with: 560px) {
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  /* Center Mark in each cell */
  justify-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  /* By Default 100px */
  width: var(--cell-seize);
  height: var(--cell-seize);
  border: solid 3px var(--clr-1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* Remove Border Top  */
.cell:nth-child(1n + 1) {
  border-top: none;
}

/* Remove Border Bottom */
.cell:nth-child(3n + 1) {
  border-left: none;
  border-right: none;
}

/* Remove Border Righr */
.cell:nth-child(3n + 3) {
  border-right: none;
  border-left: none;
}

/* Remove Border Bottom */
.cell:nth-child(n + 7) {
  border-bottom: none;
}

/* When a cell has a x || y class => change the cursor to not allowed  */
.cell.x,
.cell.y {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.y):hover::before,
.board.x .cell:not(.x):not(.y):hover::after {
  content: "";
  /* 25%  of 90% of cell seize*/
  width: calc(var(--mark-seize) * 0.15);
  height: var(--mark-seize);
  background-color: var(--clr-1);
  position: absolute;
}

/* When the board has x || y class and we're not on a X cell 
( cell has been checked )  with a hover effect on before and after element 
Then change the color of our x || y hover element */
.board.x .cell:not(.x):not(.y):hover::before,
.board.x .cell:not(.x):not(.y):hover::after {
  background-color: lightgray;
}

.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}

.cell.y::before,
.cell.y::after,
.board.y .cell:not(.y):not(.x):hover::before,
.board.y .cell:not(.y):not(.x):hover::after {
  content: "";
  /* 25%  of 90% of cell seize*/
  width: var(--mark-seize);
  height: var(--mark-seize);
  background-color: var(--clr-1);
  position: absolute;
}
.board.y .cell:not(.y):not(.x):hover::before,
.cell.y::before {
  border-radius: 50%;
}

.cell.y::after,
.board.y .cell:not(.y):not(.x):hover::after {
  width: calc(var(--mark-seize) * 0.7);
  height: calc(var(--mark-seize) * 0.7);
  /* What can i do to have a transparent circle ? */
  background-color: var(--clr-4);
  border-radius: 50%;
}

.board.y .cell:not(.y):not(.x):hover::before {
  background-color: lightgray;
}
.board.y .cell:not(.y):not(.x):hover::after {
  opacity: 0.5;
  background-color: rgba(49, 50, 51, 0.6);
}
.winning-message {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  /* Change display fo flex in javascript */
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 5rem;
}

.show {
  display: flex;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
}

.winning-message button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.rotate-scale-up {
  -webkit-animation: rotate-scale-up 0.85s linear 3 both;
  animation: rotate-scale-up 0.85s linear 3 both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-12 14:25:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-12 14:49:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.flicker-in-1 {
  -webkit-animation: flicker-in-1 2s linear 2.3s both;
  animation: flicker-in-1 2s linear 2.3s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-12 14:53:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
